

$primary: #FFFFFF;
$secondary: #003145;
$tertiary: #0FA958;

// extra
$dark-blue: #002A3B;
$off-white: #F8F9FD;

// cardselector
$selector: rgba(248, 249, 253, 0.49);

// dates
$upcoming: rgba(#F2C94C,25%);
$active: rgba(#44924C,24%);
$past: rgba(#FF3C00,17.01%);

// text color
$white: #FFFFFF;
$grey:#454545;

// borders 
$border:#ECECEC;

// btns
$btn-green:#44924C;