@use '../../styles/abstracts/variables.scss' as *;
@use '../../styles/abstracts/mixins.scss' as *;


.card {
    background-color: $off-white;
    border-radius: 1rem;
    padding: 4rem 2rem;
    @include flex(column);
    gap: 1rem;

    .cardheading{
        
        @include media(sm){
            font-size: 3rem;
        }
    }

    .cardinfo{
        
        @include media(sm){
            font-size: 1.5rem;
        }
    }

    

}