@use '../../styles/abstracts/variables.scss' as *;
@use '../../styles/abstracts/mixins.scss' as *;



.card {
    background-color: white;
    width: 35rem;
    height: 45rem;
    border-radius: 1rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    transition: .5s;
    @include flex(column,center);

    // @include media(sm){
    //     height: 50rem;
    // }

    .cardimg{
        width: 100%;
        img{
            width: 100%;
            object-fit: contain;
        }
    }

    .cardinfo{
        @include flex(column,center,space-around);
        flex-grow: 1;
        padding: 0 4rem;
        

        .Upcoming,
        .Active,
        .Past{
            padding: .5rem 1rem;
            border-radius: .5rem;
            @include media(sm){
                font-size: 1.5rem;
            }
        }

        .Upcoming{
            background-color: $upcoming;
        }

        .Active{
            background-color: $active;
        }

        .Past{
            background-color: $past;
        }

        .title{
            text-align: center;
            @include media(sm){
                font-size: 2rem;
            }
        }

        .timer{
            @include flex(column,center,center);
            color: $grey;
            .timertitle{
                @include media(sm){
                    font-size: 1.5rem;
                }
            }
            
            .countdown{
                
                .clock{
                    @include flex(false,center,center);
                    @include media(sm){
                        font-size: 2rem;
                    }
                }

                .indicator{
                    @include flex(false,center,center);
                    gap: .5rem;
                    @include media(sm){
                        font-size: 1.1rem;
                    }
                }
            }

            .endtime{
                @include media(sm){
                    font-size: 1.9rem;
                }
            }
        }

        .cta{
            @include flex(false,center);
            gap: .5rem;
        }
    }
}