@use '../../styles/abstracts/variables.scss' as *;
@use '../../styles/abstracts/mixins.scss' as *;



.challenges{

    .searchbox{
        background-color: $dark-blue;
        padding: 5rem 0;
        
        .searchcontainer{
            @include flex(column,center,center);
            gap: 2rem;
            .title{
                color: $white;
            }

            .search{
                width: 100%;
                @include flex(column);
                gap: 2rem;

                @include media(sm){
                    flex-direction: row;
                    align-items: center;
                }
                .searchbar{
                    @include flex(false,center,center);
                    flex-grow: 1;
                    position: relative;
                    input{
                        border: none;
                        outline: none;
                        padding: 1rem 5rem;
                        border-radius: 1rem;
                        width: 100%;
                    }
                    i{
                        position: absolute;
                        top: 1rem;
                        left: 2rem;

                    }
                }

                .filter{
                    background-color: white;
                    padding: 1rem 2rem;
                    border-radius: 1rem;
                    @include flex(false,center,space-between);
                    gap: 2rem;
                    position: relative;

                    &:hover .dropdown {
                        display: block;
                    }

                    .dropdown{
                        background-color: $primary;
                        position: absolute;
                        display: none;
                        top: 0;
                        right: 0;
                        left: 0;
                        border-radius: inherit;
                        padding: inherit;

                        @include media(sm){
                            width: 25rem;
                        }

                        & > div:not(:last-child){
                            border-bottom: 1px solid $border;
                        }

                        .box1{
                            padding-bottom: 1rem;
                            @include flex(false,center,space-between);
                            
                        }
                        .box2,
                        .box3{
                            padding: 1rem;
                            .options{
                                @include flex(false,center);
                                gap: 1rem;

                                input {
                                    accent-color: $btn-green;
                                }
                            }
                        }
                    }
                }
            }

            .selectors{
                @include flex(false,center);
                flex-wrap: wrap;
                gap: 1rem;
                width: 100%;
                min-height: 5rem;
                .cardselector{
                    background-color: $selector;
                    color: $white;
                    padding: 1rem 2rem;
                    border-radius: 2rem;
                    @include flex(false,center);
                    gap: 1rem;
                    i{
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }




    .cards{
        background-color: $secondary;


        .cardsholder{
            @include flex(false,center,center);
            max-width: 150rem;
            padding: 5rem;
            gap: 5rem;
            flex-wrap: wrap;

            .notfound{
                color: $white;
                padding: 20rem 0;
            }
        }
    }
}